Domain requirement engineering : 

Il faut rajouter des éléments variables, mais aussi définir plus en détails les élements (Leur donner des cardinalités).

&---Ce qui varie : 
- Le nombre de plateformes
- La longueur des plateformes
- Le nombre d'ennemis
- Les types d'ennemis
- Les saisons (été-automne-hiver-printemps)
- Sol plus ou moins plat
- Platforme friable
- Le nombre de power-up et leur position ? (par niveau) 
- Plateforme mobile verticalement ou horizontalement
- Difficultés : moins de powerup, plus de trou, plus d'ennemis, taille des plateformes
- Taille du niveau
- Raccourci?

/*  ---- Si power-up --- */
- La hit-box du joueur
- La vitesse du joueur
- Les vies du joueur
- Possibilité de lancer des projectiles
- Powerup mobile?
- Powerup malus?
- Temps d'action?


&---Ce qui ne varie pas :
- La taille du joueur?
- Le nombre de check-point par niveau (un seul à peu près au millieu du niveau ?)
- Les points de variabilités ne changent pas pendant le niveau
- Influences de saison sur GamePlay pas variable (ex: sol glissant glisse de la même manière)
